@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: v.$separacion;
    @include m.tablet {
        display: grid;
        justify-content: center;
        align-items: center;
    }
   

    a {
        color: v.$blanco;
        display: block;
        text-align: center;
        height: 100%;
        padding: 1.5rem 1.5rem;
    }
   
}