@use 'base/variables' as v;
@use 'base/mixins' as m;


.tabs{
    @include m.tablet{
        display: flex;
    }
    button{
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: .8rem 1.3rem;
        display: block;
        width: 100%;
        margin: 1rem 0rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        &:hover{
            background-color: v.$blanco;
            color: v.$azul;
            cursor: pointer;
            transition: all .2s ease-in;

        }

        &.actual{
            background-color: v.$blanco;
            color: v.$azul;
        }



        @include m.tablet{
            margin: 1rem 1rem;

        }
    }
}