@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet{
            overflow-y: scroll;
            &::-webkit-scrollbar{
                background-color: v.$grisOscuro;
                width: 9px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgba(0, 0, 0, 0.66);
                border-radius: 5px;
            }
          
        }
    }
}

.barra {
    margin: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin: 1rem 0;
        font-size: 2.3rem;
        span{
            font-weight: 700;
        }
    }
    @include m.tablet {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        p{
            margin-right: 2rem;

        }

    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: 3rem;

    @include m.desktop {
        display: flex;
        justify-content: space-around;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
    .link-nav{
        display: block;
        font-weight: 600;
        color: v.$blanco;
        &:hover{
            text-shadow: 0px 0px 5px v.$azul;
            color: v.$blanco;
            transition: .3s all ease-in-out;
        }
    }
}


.logout{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: .5rem 0rem;
    transition: color .5s ease-in-out;
    &:hover{
        color: v.$azul;
    }
}